# assets
assets/*
!assets/pigz_2.4_x86_64.tgz

# bin
bin/*
!bin/if_tar_exists_xzf_rm_mv_assets
runtime/*.tar

# dev
dev/*

# hack
hack/geocloud/*
!hack/geocloud/.gitkeep
hack/minio/*
!hack/minio/geocloud/
hack/minio/geocloud/*
!hack/minio/geocloud/.gitkeep
hack/postgresql/*
!hack/postgresql/.gitkeep
hack/rabbitmq/*
!hack/rabbitmq/etc
!hack/rabbitmq/lib
!hack/rabbitmq/log
hack/rabbitmq/lib/*
hack/rabbitmq/log/*
!hack/rabbitmq/lib/.gitkeep
!hack/rabbitmq/log/.gitkeep

# env
.env

# macOS
.DS_Store

# vscode
.vscode/
