# assets
assets/*
!assets/pigz_2.4_x86_64.tgz

# bin
bin/*
!bin/if_tar_exists_xzf_rm_mv_assets
runtime/*.tar

# hack
hack/minio/*
!hack/minio/geocloud/
hack/minio/geocloud/*
!hack/minio/geocloud/.gitkeep
hack/geocloud/*
!hack/geocloud/.gitkeep

# env
.env

# macOS
.DS_Store

# terraform
.terraform/

# vscode
.vscode/
