# assets
assets/*
!assets/pigz_2.4_x86_64.tgz

# bin
bin/*
!bin/if_tar_exists_xzf_rm_mv_assets

# dev
dev/minio/*
!dev/minio/geocloud/
dev/minio/geocloud/*
!dev/minio/geocloud/.gitkeep
dev/geocloud/*
!dev/geocloud/.gitkeep

# env
.env

# macOS
.DS_Store

# terraform
.terraform/

# vscode
.vscode/
